.modal-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper.visible {
    visibility: visible;
    opacity: 1;
  }
  .modal-wrapper.visible .content {
    transform: scale(1);
  }
  
  .modal-wrapper .content {
    transform: scale(0);
    transition: transform 0.3s ease;
    background-color: var(--bg-box);
    width: 45vw;
  }
  
  .modal-wrapper .overlay {
    background-color: var(--overlay);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
  }
  .modal-header {
    background-color: transparent;
    color: var(--primary);
  }
  
  @media screen and (max-width: 1024px) {
    .modal-wrapper > .content {
      width: 90vw;
    }
}